[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "vim/bundle/vim-pathogen"]
	path = vim/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen
[submodule "vim/bundle/tagbar"]
	path = vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar
[submodule "vim/bundle/vim-colors-solarized"]
	path = vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized
[submodule "vim/bundle/lightline.vim"]
	path = vim/bundle/lightline.vim
	url = https://github.com/itchyny/lightline.vim
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vim/bundle/vim-easytags"]
	path = vim/bundle/vim-easytags
	url = https://github.com/xolox/vim-easytags
[submodule "vim/bundle/vim-misc"]
	path = vim/bundle/vim-misc
	url = https://github.com/xolox/vim-misc
[submodule "vim/bundle/YouCompleteMe"]
	path = vim/bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe
[submodule "vim/bundle/VOoM"]
	path = vim/bundle/VOoM
	url = https://github.com/vim-voom/VOoM
[submodule "vim/bundle/vimple"]
	path = vim/bundle/vimple
	url = https://github.com/dahu/vimple
[submodule "vim/bundle/Asif"]
	path = vim/bundle/Asif
	url = https://github.com/dahu/Asif
[submodule "vim/bundle/SyntaxRange"]
	path = vim/bundle/SyntaxRange
	url = https://github.com/vim-scripts/SyntaxRange
[submodule "vim/bundle/vim-asciidoc"]
	path = vim/bundle/vim-asciidoc
	url = git@github.com:saschazelzer/vim-asciidoc.git
